SchinkZeShips.Core/Connected Services/SchinkZeShipsReference/SchinkZeShips2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchinkZeShips.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchinkZeShips.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameCreator" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="GameParticipant" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>