SchinkZeShips.Core/Connected Services/SchinkZeShipsReference/SchinkZeShips1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchinkZeShips" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISchinkZeShips_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://schinkzeships.azurewebsites.net/SchinkZeShips.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://schinkzeships.azurewebsites.net/SchinkZeShips.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://schinkzeships.azurewebsites.net/SchinkZeShips.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchinkZeShips.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchinkZeShips_GetAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGames" />
  </wsdl:message>
  <wsdl:message name="ISchinkZeShips_GetAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="ISchinkZeShips_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="ISchinkZeShips_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="ISchinkZeShips_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="ISchinkZeShips_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchinkZeShips">
    <wsdl:operation name="GetAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchinkZeShips/GetAllGames" message="tns:ISchinkZeShips_GetAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchinkZeShips/GetAllGamesResponse" message="tns:ISchinkZeShips_GetAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchinkZeShips/CreateGame" message="tns:ISchinkZeShips_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchinkZeShips/CreateGameResponse" message="tns:ISchinkZeShips_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchinkZeShips/JoinGame" message="tns:ISchinkZeShips_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchinkZeShips/JoinGameResponse" message="tns:ISchinkZeShips_JoinGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchinkZeShips" type="tns:ISchinkZeShips">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://tempuri.org/ISchinkZeShips/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/ISchinkZeShips/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap:operation soapAction="http://tempuri.org/ISchinkZeShips/JoinGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISchinkZeShips" type="tns:ISchinkZeShips">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISchinkZeShips_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://tempuri.org/ISchinkZeShips/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/ISchinkZeShips/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap:operation soapAction="http://tempuri.org/ISchinkZeShips/JoinGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchinkZeShips">
    <wsdl:port name="BasicHttpBinding_ISchinkZeShips" binding="tns:BasicHttpBinding_ISchinkZeShips">
      <soap:address location="http://schinkzeships.azurewebsites.net/SchinkZeShips.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISchinkZeShips" binding="tns:BasicHttpsBinding_ISchinkZeShips">
      <soap:address location="https://schinkzeships.azurewebsites.net/SchinkZeShips.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>